h1, h2, h3 {
    color: $base_color;
    font-family: 'Merriweather', serif;
}

p, label {
    color:  $alpha_color;
    font-family: 'Merriweather', serif;
}

input, select, #topics {
    
    &:focus { 
       border: 1px solid #2d3945;
    }
    
    &:hover {
       background-color: #ddd;
    }
}
