.intro {
    align-self: center;
    text-align: center;
    margin-top: 40px;
}

.seperator {
    border-top: 3px solid $base-color;
    width: 95%;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
