.l-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: $base_background;
    margin: auto;
}

.m-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
    margin: auto;
}

.s-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    @media screen and (min-width: 760px) {
        flex-direction: row;
        justify-content: flex-start;
    }
}
